$primary: #ef8172;
$secondary: #d16e88;
$tertiary: #a46693;
$quaternary: #475676;
$quinary: #72608c;

body {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}
#home-image {
	height: 30rem;
}
.bg-aniamtion {
	background: linear-gradient(300deg, $primary, $secondary, $tertiary);
	background-size: 180% 180%;
	animation: gradient-animation 10s ease infinite;
}

@keyframes gradient-animation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

//small devices

@media (max-width: 750px) {
	.box-area {
		margin: 0 10px;
	}
	.left-box {
		height: 150px;
		/* overflow: hidden; */
	}
	.header-text,
	p {
		margin-bottom: 0 !important;
	}
	#register-image,
	#login-image {
		height: 150px;
	}
	#home-image {
		height: 18rem;
	}
}
