$primary: #ef8172;
$secondary: #d16e88;
$tertiary: #a46693;
$quaternary: #475676;
$quinary: #72608c;

body {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}
#home-image {
	height: 30rem;
}
.bg-aniamtion {
	background: linear-gradient(300deg, $primary, $secondary, $tertiary);
	background-size: 180% 180%;
	animation: gradient-animation 10s ease infinite;
}
.nav-tabs {
	border: none !important;
}

footer a.nav-link {
	color: white !important;
}
footer a.active {
	background-color: transparent !important;
	border: none !important;
	color: black !important;
	border-bottom: 2px solid black !important;
}
.sidebar {
	position: fixed !important;
	left: 0 !important;
	top: 0 !important;
	height: 100vh !important;
	overflow-y: auto !important;
	width: 250px; /* Adjust as needed */
}
.autosuggest-list {
	position: absolute;
	z-index: 10;
	background-color: #fff;
	border: 1px solid #ccc;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	padding: 0;
	margin: 0;
	list-style-type: none;
	max-height: 200px;
	overflow-y: auto;
  }
  
  .autosuggest-list li {
	padding: 10px;
	cursor: pointer;
  }
  
  .autosuggest-list li:hover {
	background-color: #f0f0f0;
  }
@keyframes gradient-animation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

//small devices

@media (max-width: 767px) {
	.box-area {
		margin: 0 10px;
	}
	.left-box {
		height: 150px;
		/* overflow: hidden; */
	}
	.header-text,
	p {
		margin-bottom: 0 !important;
	}
	#register-image,
	#login-image {
		height: 150px;
	}
	#home-image {
		height: 18rem;
	}
}
